<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.svash.myprofile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="My Profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilePhoto"
            android:label="My Profile Photo"
            android:exported="true" >
            <!--uncomment this above line if don't want to run this activity-->
        </activity>
        <activity
            android:name=".Education"
            android:label="Education"
            android:exported="true" >
            <!--uncomment this above line if don't want to run this activity-->
        </activity>
        <activity
            android:name=".WorkExperience"
            android:label="Work Experience"
            android:exported="true" >
            <!--uncomment this above line if don't want to run this activity-->
        </activity>
    </application>

</manifest>